.menu-html {
  height: 1000px;
  display: flex;
}

.menu-body {
  position: relative;
  margin: auto;
  perspective: 500px;
}

.menu-main {
  display: flex;
  flex-direction: column;
  transform: rotatex(10deg);
  animation: rotateAngle 6s linear infinite;
}

.menu-button {
  display: block;
  position: relative;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 10px 13px -7px #ffffff, 5px 5px 15px 5px rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  mix-blend-mode: color-dodge;
  perspective: 500px;
  transform-style: preserve-3d;
}
.menu-button:before, .menu-button:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: inherit;
  border-radius: inherit;
  transform-style: preserve-3d;
  transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}
.menu-button span {
  mix-blend-mode: none;
  display: block;
}
.menu-button:after {
  background-color: #5D00FF;
}
.menu-button:before {
  background-color: #FF1731;
}
.menu-button:hover {
  background-color: #FFF65B;
  transition: background 0.3s 0.1s;
}
.menu-button:hover:before {
  --z: 0.04;
  animation: translateWobble 2.2s ease forwards;
}
.menu-button:hover:after {
  --z: -0.06;
  animation: translateWobble 2.2s ease forwards;
}

@keyframes rotateAngle {
  0% {
    transform: rotateY(0deg) rotateX(10deg);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  25% {
    transform: rotateY(20deg) rotateX(10deg);
  }
  50% {
    transform: rotateY(0deg) rotateX(10deg);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  75% {
    transform: rotateY(-20deg) rotateX(10deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(10deg);
  }
}
@keyframes translateWobble {
  0% {
    opacity: 0;
    transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  }
  16% {
    transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
  }
  28% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
  }
  44% {
    transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
  }
  59% {
    transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
  }
  73% {
    transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
  }
  88% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
  }
  100% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
  }
}
.h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 60px;
}

body {
  color: #fff;
}

h2 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.gradient-bg {
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #2a2a46 59%, #223033 100%);
}

.bg {
  background: #181620;
}

.available-worker {
  max-width: 30%;
}

.margb8 {
  margin-bottom: 8.5px;
}

.margb10 {
  border-bottom: 1px solid #fff;
  margin-bottom: 14px;
  height: 20px;
}

.button {
  background-color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
}
.button:hover {
  background-color: #cec5f0;
}

a {
  color: #000;
}
a:hover {
  text-decoration: none;
}

option {
  color: black;
}

/*# sourceMappingURL=style.css.map */
