@import "startmenu";

$white: #fff;

.h1{
    color: $white;
    font-size: 20px;
    margin-bottom: 60px;
}

body{  
    color: $white;
}

h2{
    font-size: 20px;
}
h4{
    font-size: 16px;
}

.gradient-bg{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(42, 42, 70) 59%, rgb(34, 48, 51) 100%);
}

.bg{
    background: #181620
}

.available-worker{
    max-width: 30%;
}
.margb8{
    margin-bottom: 8.5px;
}
.margb10{
    border-bottom: 1px solid $white;
    margin-bottom: 14px;
    height: 20px;
}
.button{
    background-color: $white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.4em;
	font-family: "Work Sans", sans-serif;
    &:hover{
        background-color: rgb(206, 197, 240);
    }
}

a{
    color: #000;
    &:hover{
    text-decoration: none;
    }
}

option{
    color: black;
}

