.App {
  font-family: 'Exo 2', sans-serif;
}

.select{
  width: 100%;
  box-shadow: inset -4px -4px 9px -7px rgba(0,0,0,0.6);
}

/* .MuiBox-root-2{
  min-width: 100% !important;
} */

h1{
  font-size: 34px;
  margin: 0;
  
}

h5{
  margin: .5rem 0;
}

.header{
  width: 100%;
  min-height: 100px;
  box-shadow: 5px 5px 20px 10px #000;
}

.footer{
  width: 100%;
  height: 120px;
}

.sidenav-custom{
  position: relative !important;
  min-height: 100vh;
}

.inner-shadow{
  box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.6);
  /* box-shadow: inset 0 0 4px #000000; */
}

.border-bot{
  border-bottom: 2px solid rgb(0, 100, 131);
}

.bg-shadow{
  box-shadow: -10px -10px 30px -20px #0095f8;
}

.img-border{
  padding: 10px;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 17px #BBB;
  border-radius: 5%;
}

.fz-24{
  font-size: 24px;
}

.fz-16{
  font-size: 16px;
}

p{
  margin: 0;
}

.min-vh{
  min-height: 80vh;
}

footer{
  margin-top: auto;
}

.typo{
  font-family: 'Exo 2', sans-serif !important;
}

.pad-all-child > *{
  padding: 0.2rem 0;
}

.pad-all-child2 > *{
  padding: 2rem 0;
}

.bb1{
  border-bottom: 1px solid black;
}

.color-red{
  color: red;
}

.color-yellow{
  color: rgb(255, 238, 0);
}

.color-blue{
  color: rgb(0, 4, 255);
}

.color-green{
  color: rgb(21, 255, 0);
}

.btn-link{
  border: 1px solid rgba(25, 118, 210, 0.5);
  border-radius: 4px;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn-link:hover{
  border: 1px solid rgb(24, 93, 161);
  background-color: rgba(213, 228, 255, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

hr{
  border-top: 1px solid rgba(0,0,0,.14);
}

.btn-lng{
  background-color: transparent;
  border: none;
  color: white;
  width: 50%;
  box-shadow: inset -4px -4px 9px -7px rgba(0,0,0,0.6);
}

.btn-lng:hover{
  background-color: #0099ff;
}

.link-anim{
  transition: all 0.4s ease;
  text-decoration: none;
  display: inline-block;
}

.link-anim:hover{
  text-decoration: none;
  margin-left: 5px;
}

.link-anim::after{
  content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width .4s;
}

.link-anim:hover::after{
  width: 100%;
}

@media screen and (max-width: 530px) {
  h1{
    font-size: 18px;
  }
  .logo{
    width: 70px;
  }
  .fz-24{
    font-size: 16px;
  }
  .fz-16{
    font-size: 12px;
  }
  .btn-link {
    padding: 5px 5px;
    margin-bottom: 10px;
  }
}