body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-max-w{
  max-width: 200px;
}

@media (min-width: 1460px){
  .container2 {
    max-width: 1500px;
  }
}

.h1-cat{
  padding: 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.page-number, .btn-rdm{
  background-color: rgb(160, 220, 255);
}

.page-text{
  background-color: rgb(125, 203, 248);
}

.page-text, .page-number, .btn-rdm{
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin-right: 4px;
  border-radius: 4px;
}

.page-text:hover, .page-number:hover, .btn-rdm:hover{
  background-color: rgb(100, 175, 219);
  text-decoration: underline;
}

.disabled{
  opacity: 0.5;
  background-color: rgb(100, 175, 219);
  color: whitesmoke;
  pointer-events: none;
}

.active{
  background-color: rgb(100, 175, 219);
  text-decoration: underline;
}